@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: black;
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    transition: background 0,3s linear;
    margin-top: 100px;
}

.footer{
    max-width: 1240px;
    padding: 40px 0px 18px 0px;
    margin: auto;
}

.footer-container{
    margin-bottom: 1rem;
}

.footer-header {
    font-family: 'Bebas Neue';
    color: white;
    padding-bottom: 1px;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    line-height: 25px;
    opacity: 0.9;
    font-size: 1rem;
}

.footer_header li {
    margin-bottom: 10px;
}

.footer_header li a:hover {
    color: white;
}

.footer-desc{
    font-family: 'Anek Telugu', sans-serif;
    color: white;
    font-size: 0.85rem;
    opacity: 0.4;
    font-weight: 300;
    line-height: 0.1;
}

.footer-desc:hover{
    opacity: 1;
}

.footer-container li {
    list-style: none;
}

.footer-container a, .container a {
    text-decoration: none;
}

.social_media a {
    margin-right: 10px;
    font-size: 24px;
    border: 1px solid #828282;
    border-radius: 50%;
    background-color: #828282;
    color: black;
    padding: 4px;
    justify-content: center;
    display: inline-flex;
}

.social_media a:hover{
    background-color: white;
    border: 1px solid white;
}

.copy_right{
    color: white;
}

.copy_right i{
    font-size: 1rem;
}

.copy_right .secret-copyright{
    margin-left: 8px;
    font-weight: 400;
    font-size: 0.75rem;
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
    color: #828282;
}

.copy_right .location {
    margin-left: 8px;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
}

.footer .container a{
    color: #828282;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;;
    font-family: 'Bebas Neue';
}

.footer .container a:hover{
    color: white;
}

.footer_bottom {
    font-size: 0.875rem;
    margin-top: 50px;
}



@media screen and (max-width: 600px){
    .desktop-footer {
        display: none;
    }

    .mobile-footer {
        margin-top: 100px;
        padding-bottom: 100px;
    }
    
    .mobile-footer .footer-container .footer-content .footer_header .footer-header {
        padding-left: 40px;
        margin-right: 100px;
    }
    
    .mobile-footer .footer-container .footer-content .footer_header {
        width: 100%;
    }
    
    .mobile-footer .footer-container .footer-content .footer_header .footer-desc {
        padding-left: 40px;
    }

    .mobile-footer .footer-container .footer-content .footer_header .footer-line {
        display: block;
        height: 1px;
        margin: 25px 0;
        background: white;
        opacity: 0.2;
        padding: 0 10px;
        width: 100%;
    }
    
    .mobile-footer .footer-container .footer-content {
        display: block;
    }
    
    .mobile-footer .footer .footer-container .social_media {
        margin-top: 40px;
        padding-left: 40px;
    }
    
    .mobile-footer .footer .footer_bottom .copy_right {
        margin: 25px 0 0 30px;
    }
    
    .mobile-footer .footer .footer_bottom .container {
        margin-top: 40px;
    }
    
    .mobile-footer .footer .footer_bottom .container a {
        display: block;
        line-height: 30px;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    .desktop-footer {
        display: none;
    }

    .mobile-footer {
        padding-bottom: 100px;
    }
    
    .mobile-footer .footer-container .footer-content .footer_header .footer-header {
        padding-left: 40px;
    }
    
    .mobile-footer .footer-container .footer-content .footer_header {
        width: 100%;
        margin-right: 100px;
    }
    
    .mobile-footer .footer-container .footer-content .footer_header .footer-desc {
        padding-left: 40px;
    }

    .mobile-footer .footer-container .footer-content .footer_header .footer-line {
        display: block;
        height: 1px;
        margin: 25px 0;
        background: white;
        opacity: 0.2;
        padding: 0 10px;
        width: 100%;
    }
    
    .mobile-footer .footer-container .footer-content {
        display: block;
    }
    
    .mobile-footer .footer .footer-container .social_media {
        margin-top: 40px;
        padding-left: 40px;
    }
    
    .mobile-footer .footer .footer_bottom .copy_right {
        margin: 25px 0 0 30px;
    }

    .mobile-footer .footer .footer_bottom .container {
        margin-top: 40px;
    }
    
    .mobile-footer .footer .footer_bottom .container a {
        display: block;
        line-height: 30px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    .mobile-footer {
        display: none;
    }
    
    .desktop-footer {
        display: flex;
        justify-content: center;
    }
    
    .desktop-footer .footer .footer-container {
        display: flex;
        justify-content: space-between;
    }
    
    .desktop-footer .footer .footer-container .footer-content .footer_header {
        padding: 0;
    }
    
    .desktop-footer .footer .footer-container .footer-content {
        display: flex;
    }
    
    .desktop-footer .footer .footer-container .social_media {
        margin-left: 130px;
        margin-left: 130px;
    }
    
    .desktop-footer .footer .footer_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .desktop-footer .footer .footer_bottom .copy_right {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1401px) {
    .mobile-footer {
        display: none;
    }
    
    .desktop-footer {
        display: flex;
        justify-content: center;
    }
    
    .desktop-footer .footer .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .desktop-footer .footer .footer-container .footer-content {
        display: flex;
    }
    
    .desktop-footer .footer .footer-container .footer-content .footer_header {
        padding: 0;
        margin-right: 150px;
    }
    
    .desktop-footer .footer .footer-container .social_media {
        margin-left: 120px;
    }
    
    .desktop-footer .footer .footer_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .desktop-footer .footer .footer_bottom .copy_right {
        display: flex;
        align-items: center;
    }
}