*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .product-main a {
    text-decoration: none; 
  }
  
  .product-main li {
    list-style: none; 
  }
  
  .product-main button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
  }
  
  .product-main img, .product-main ion-icon, .product-main button, .product-main a {
    display: block; 
  }
  
  .product-main span {
    display: inline-block; 
  }
  
  html {
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
  }
  
  .product-main input {
    display: block;
    width: 100%;
    font: inherit;
  }
  
  .product-main input::-webkit-input-placeholder {
    font: inherit;
  }
  
  input::-moz-placeholder {
    font: inherit;
  }
  
  input:-ms-input-placeholder {
    font: inherit;
  }
  
  input::-ms-input-placeholder {
    font: inherit;
  }
  
  input::placeholder {
    font: inherit;
  }
  
  body {
    background: hsl(0, 100%, 100%);
  }
  
  body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    background: hsl(0, 100%, 100%);
    border-left: 1px solid hsl(0, 0%, 93%);
  }
  
  body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid hsl(0, 100%, 100%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
  }
  
  .container {
    padding: 0 15px;
  }
  
  .has-scrollbar {
    padding-bottom: 5px;
  }
  
  .has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid hsl(0, 100%, 100%);
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  
  .has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
  }
  
  .has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
  }
  
  .product-margin{
    margin: 30px;
  }
  
  .title {
    color: hsl(0, 0%, 13%);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    margin-bottom: 30px;
  }
  
  .product-main { margin-bottom: 30px; }
  
  .product-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  
  .product-grid .showcase {
    border: 1px solid hsl(0, 0%, 93%);
    -webkit-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .product-grid .showcase:hover { -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1); }
  
  .product-grid .showcase-banner { position: relative; }
  
  .product-grid .product-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .product-grid .product-img.default {
    position: relative;
    z-index: 1;
  }
  
  .product-grid .product-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
  }
  
  .product-grid .showcase:hover .product-img.hover { opacity: 1; }
  
  .product-grid .showcase:hover .product-img.default { opacity: 0; }
  
  .product-grid .showcase:hover .product-img { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
  
  .product-grid .showcase-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: hsl(152, 51%, 52%);
    font-size: 13px;
    font-weight: 500;
    color: hsl(0, 100%, 100%);
    padding: 0 8px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    z-index: 3;
  }
  
  .product-grid .showcase-badge.angle {
    top: 8px;
    left: -29px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 40px;
  }
  
  .product-grid .showcase-badge.black { background: hsl(0, 0%, 13%); }
  
  .product-grid .showcase-badge.pink { background: hsl(353, 100%, 78%); }
  
  .product-grid .showcase-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
            transform: translateX(50px);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    z-index: 3;
  }
  
  .product-grid .showcase:hover .showcase-actions { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  
  .product-grid .btn-action {
    background: hsl(0, 100%, 100%);
    color: hsl(0, 0%, 47%);
    margin-bottom: 5px;
    border: 1px solid hsl(0, 0%, 93%);
    padding: 5px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .product-grid .btn-action:hover {
    background: hsl(0, 0%, 13%);
    color: hsl(0, 100%, 100%);
    border-color: hsl(0, 0%, 13%);
  }
  
  .product-grid .showcase-content { padding: 15px 20px 0; }
  
  .product-grid .showcase-category {
    color: hsl(353, 100%, 78%);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .product-grid .showcase-title {
    color: hsl(0, 0%, 47%);
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  
  .product-grid .showcase-title:hover { color: hsl(0, 0%, 13%); }
  
  .product-grid .showcase-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: hsl(29, 90%, 65%);
    margin-bottom: 10px;
  }
  
  .product-grid .price-box {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 10px; */
    font-size: 14px;
    color: hsl(0, 0%, 13%);
    margin-bottom: 10px;
  }
  
  .product-grid .price {
    font-weight: 700;
  }
  
  .product-grid del {
    color: hsl(0, 0%, 47%);
  }
  
  @media (min-width: 480px) {
    .product-grid {
      -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
  
  
  @media (min-width: 768px) {
    html { font-size: 17px; }
  
    .container {
      max-width: 750px;
      margin: auto;
    }
  }
  
  @media (min-width: 1024px) {
    .container { max-width: 980px; }
  
    .product-grid {
      -ms-grid-columns: (1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
    .product-grid {
      -ms-grid-columns: (1fr);
      grid-template-columns: repeat(4, 1fr);
    } 
  }
  
  @media (min-width: 1400px) {
    html {
      font-size: 18px;
    }
  
    .container {
      max-width: 1350px;
    }
  }