*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product-main a {
    text-decoration: none;
}

.product-main li {
    list-style: none;
}

.product-main button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

.product-main img, .product-main ion-icon, .product-main button, .product-main a {
    display: block; 
}
  
.product-main span {
    display: inline-block; 
}
  
html {
    font-family: "Poppins", sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
}
  
.product-main input {
    display: block;
    width: 100%;
    font: inherit;
}
  
.product-main input::-webkit-input-placeholder {
    font: inherit;
}
  
input::-moz-placeholder {
    font: inherit;
}

input:-ms-input-placeholder {
    font: inherit;
}
  
input::-ms-input-placeholder {
    font: inherit;
}
  
input::placeholder {
    font: inherit;
}
  
body {
    background: hsl(0, 100%, 100%);
}
  
body::-webkit-scrollbar {
    width: 15px;
}
  
body::-webkit-scrollbar-track {
    background: hsl(0, 100%, 100%);
    border-left: 1px solid hsl(0, 0%, 93%);
}
  
body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid hsl(0, 100%, 100%);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}
  
.has-scrollbar {
    padding-bottom: 5px;
}
  
.has-scrollbar::-webkit-scrollbar {
    width: 12px; /* for vertical scroll */
    height: 12px; /* for horizontal scroll */
}
  
.has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid hsl(0, 100%, 100%);
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
  
.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
}
  
.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
}
  
.product-margin{
    margin: 30px;
}

.title {
    color: hsl(0, 0%, 13%);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    margin-bottom: 30px;
}
  
.product-main { 
    margin-bottom: 30px; 
}
  
.product-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
}
  
@media (min-width: 480px) {
    .product-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 300px;
    }
}
  
@media (min-width: 768px) {
    html { 
        font-size: 17px; 
    }
  
    .container {
        max-width: 750px;
        margin: auto;
    }
}
  
@media (min-width: 1024px) {
    .container { 
        max-width: 980px; 
    }
  
    .product-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 300px;
    }
}
  
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .product-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 300px;
    } 
}
  
@media (min-width: 1400px) {
    html {
        font-size: 18px;
    }
  
    .container {
        max-width: 1350px;
    }
}