.products-slider {
    background-color: white;
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 150px;
}

.slider-heading {
    font-family: 'Bebas Neue';
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0px auto;
    padding: 10px;
}

.slider-heading h3 {
    font-size: 30px;
    color: #1d1d1f;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 34px;
}

.slider-heading h3 span {
    color: #6e6e73;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.08);
    transition: all ease 0.3s;
    overflow: hidden;
}

.product-box:hover {
    box-shadow: 2px 2px 18px rgba(0,0,0,0.10);
    transition: all  0.3s ease;
    transform: scale(1.008);
}

.product-box strong {
    color: #29292c;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    height: 60px;
}

.product-box img {
    width: 210px;
    height: 250px;
    padding: 20px 0px;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;
}

.available-colors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-colors .product-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 2px 2px 30px rgba(0,0,0,0.03);
    margin: 3px;
}

.buy-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.product-box a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.buy-price .buy-btn {
    background-color: #0071e3;
    text-decoration: none;
    width: 80px;
    height: 40px;
    padding:0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.lSPager {
    display: none;
}

.lSAction > a  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.8;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00000033;
}

.lSAction > a::after {
    position: absolute;
    content: '';
    margin: auto;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.lSAction > .lSPrev::after  {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.lSAction > .lSNext::after  {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.explore-products {
    height: 530px;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.10);
    box-sizing: border-box;
}

.explore-products strong {
    z-index: 2;
}

.explore-img {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.explore-img img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    margin: 0px;
    padding: 0px;
    width: 100% !important;
}

/*making-responsive-css-------*/
@media(max-width:600px) {
    .slider-heading h3 {
        font-size: 30px;
    }    

    .product-box {
        width: 310px;
        margin: 10px;
        box-sizing: border-box;
    }

    .explore-products {
        height: 427px;
    }

    .product-box img {
        width:160px;
        height:190px;
        padding:0px;
    }

    .product-box strong {
        font-size: 21px;
    }   

    .lSAction > a {
        display: none;
    }

    .products-slider {
        background-color: #f5f5f7;
        padding-bottom: 20px;
    }
}

@media(max-width:400px) {
    .product-box {
        width: 280px;
    }
    .buy-btn {
        font-size: 0.8rem;
    }
}

@media(max-width:324px) {
    .product-box {
        width: 225px;
    }
    .product-box img {
        width: 140px;
        height: 165px;
    }
    .explore-products {
        height: 445px;
    }
    .buy-price {
        flex-direction: column;
    }
    .buy-price .buy-btn {
        width: 100%;
    }
}